<li>@Html.ActionLink("Create Product", "Create", "Inventory")</li>
<li>@Html.ActionLink("Import Products", "Index", "Home")</li>
<li>@Html.ActionLink("Export Products", "ExportData", "Inventory")</li>