@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This is the Home page for Inventory Management site. Please click on the <b>Log in</b> button so that you can be redirected to Inventory Management page.
            </p>
        </div>
    </section>
}
